/*#main-table{
    margin:150px 400px;
}
th,td{
    border-bottom:1px solid #ddd;
    padding:8px;
}
th{
    background-color: #333333;
    color:whitesmoke;
}*/
.header{
    background-color:#333333;
    color:white;
    text-align: center;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
}
.nav{
    background-color: #444;
}
.nav ul{
    list-style-type: none;
   
}
.nav li{
    float:left; 
    padding:20px;
    box-sizing: border-box;
}
.nav a{
    text-align: center;
    color:whitesmoke;
    display: block;
    columns: #333333;
}
.nav a:hover{
    text-decoration: none;
    color: yellow;
}
.main-div{
    padding:30px;
    letter-spacing: 0.5pt;
}
/*
ul{
    position:fixed;
    list-style-type:none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

 li{
    float:left;
}
/*
li a{
    display: block;
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}
.nav ul li a:hover{
    background-color: #111111;
    text-decoration: none;
}
*/